@import 'libs/bootstrap-reboot.min'
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap')

@import 'base/variables'
@import 'base/mixins'

* 
    font-family: 'Work Sans', sans-serif
    margin: 0
    padding: 0

body 
    background-color: #2B2B2B

.container
    width: 1050px
    margin: 0 auto


.overlay.active
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-color: rgba(0, 0, 0, 0.5)
    transition: 0.4s all
    z-index: 0

@import 'blocks/_title'
@import 'blocks/_button'
@import 'blocks/_promo'
@import 'blocks/_collection'
@import 'blocks/_creators'
@import 'blocks/_categories'
@import 'blocks/_more'
@import 'blocks/_auction'
@import 'blocks/_get_started'
@import 'blocks/_join'
@import 'blocks/_footer'

// media requests 

@import 'base/media/_media'
@import 'base/media/_promo'
@import 'base/media/_collection'
@import 'base/media/_creators'
@import 'base/media/_categories'

