.promo
    padding: 20px 0px 0px 0px 
    &__header
        display: flex
        align-items: center
        justify-content: space-between
    &__logo
        display: flex
        justify-items: center
        align-items: center
        &-name
            margin-left: 12px
    &__nav
        display: flex
        padding: 0
        margin: 0

        li 
            list-style-type: none
            color: white
            margin-left: 50px
            &:first-child
                margin-left: 0px
                
    &__signup-text
        margin-left: 12px

    &__info
        padding: 80px 0px
        display: flex
        justify-content: space-between
        &-title
            text-transform: capitalize
            line-height: 110%
            font-size: 67px
            color: white
            font-weight: 600
        &-subtitle
            text-transform: capitalize
            font-weight: 400
            color: white
            margin-top: 20px
            margin-bottom: 30px
        &-btn
            width: 224px
            display: flex
            justify-content: center
        &-text 
            margin-left: 12px
        
        &-statisticks
            margin-top: 30px
            display: flex
            width: 435px
            justify-content: space-between
            color: white
            &-value 
                font-weight: 700
                font-family: "Space Mono", sans-serif
            &-descr
                font-size: 24px
                font-weight: 400
        &_card
            &-picture img 
                border-radius: 22px 22px 0px 0px
            &-data
                padding: 20px
                max-width: 510px
                height: 109px
                background-color: #3B3B3B
                border-radius: 0px 0px 20px 20px
                display: flex
                flex-direction: column
                color: white
            &-author
                margin-top: 10px
                display: flex
                align-items: center
                &_name
                    margin-left: 12px

        
