@media (max-width: 1200px)
    .promo
        &__info
            &-title 
                max-width: 290px
                font-size: 56px
            &-subtitle
                max-width: 360px
                font-size: 18px
            &-statisticks
                width: 360px
                &-value 
                    font-size: 24px
                &-descr
                    font-size: 20px


@media (max-width: 992px) 
    .promo
        &__hamburger
            display: block
            span
                display: block
        &__nav, &__signup
            position: absolute
            left: -70%
            visibility: hidden
        &__nav
            visibility: hidden
            width: 35%
            flex-direction: column
            background-color: $mainColor
            border-radius: 0px 30px 30px 0px
            padding: 20% 5% 40% 70px
            left: -70%
            transition: 0.4s all
            top: 0
           
            &.active 
                height: 100vh
                opacity: 1
                top: 0px
                z-index: 2   
                left: 0
                transition: 0.4s all
                display: block
                visibility: visible
                
                li  
                    font-weight: 600
                    font-size: 22px
                    margin-top: 5px
                    margin-left: 0px
        &__info
            &-title 
                max-width: 303px
                font-size: 38px
            &-subtitle
                font-size: 16px
            &-statisticks
                margin-top: 20px
                width: 305px
                &-value
                    font-size: 22px
                &-descr
                    font-size: 16px
            &_card
                &-picture img
                    width: 330px
                    height: 220px

@media (max-width: 768px) 
    .promo
        padding: 20px 30px
        &__nav.active
            width: 70%
        &__info
            padding: 40px 0px
            flex-direction: column
            // align-items: center
            &_card
                display: none
                &-hidden
                    display: block
                &-data 
                    width: 330px
            &-btn 
                margin-top: 40px
            &-title 
                font-size: 28px
                font-weight: 500
                
            &-statisticks
                margin-top: 40px
      
@media (max-width: 575px) 
    .promo
        &__info
            padding: 40px 0px
            align-items: center
        &__nav.active
            width: 100%
        &__info
            &-btn 
                margin: 40px auto 0 auto
            &-statisticks
                width: 100%
                text-align: center
        &__logo
            &-icon svg 
                width: 24px
                height: 24px
            &-name svg 
                width: 150px
                height: 17px